<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View Summary - Python Project Analyzer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
      .markdown-content {
        max-width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Project Summary</h1>
      <div class="markdown-content mt-4">{{ content|safe }}</div>
      <a href="{{ url_for('index') }}" class="btn btn-primary btn-block mt-4">Back to Home</a>
    </div>
  </body>
</html>
